.cont {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: flex-start;
}

.cont h2 {
    margin-bottom: 1rem;
    padding: 10px 18px;
    text-transform: uppercase;
    color: #000;
    font-size: 1.5rem;
    letter-spacing: 10px;
    background-color: white;
    border-color: black;
    width: 100%;
}

.cont img {
    width: 20vw;
    height: auto;
    max-height: 400px;
    transition: transform 0.3s;
    border-radius: 10%;
    object-fit: contain;
}

.cont img:hover {
    transform: scale(1.2);
  }

  /* Reduce spacing between images in the grid */
@media (max-width: 600px) {
    .cont {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
      grid-template-rows: repeat(3, 1fr); /* 3 rows for smaller screens */
      gap: 3px; /* Reduced spacing between grid cells */
    }
  }

/* Add flexbox container for descriptions */
.cont .description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%; /* Set the height of each grid item to 100% */
}

.cont .description {
  font-size: 1rem;
  margin: 10px;
  text-align: center;
  color: #555;
  width: 300px;
}