.art-style-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
  }
  
  .art-style {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px; 
    height: 500px; 
    width: 1500px; /* needed so that images remain same size as one another, idk why */
  }
  
  .art-style img {
    max-width: 100%;
    width: auto;
    height: auto; 
    transition: transform 0.3s;
    border-radius: 50%;
    overflow: hidden;
    width: 30%;
    height: auto;
  }

  .art-style img:hover {
    transform: scale(1.2);
  }

  .art-style h3 {
    color: black;
  }

  @media (max-width: 600px) {
    .art-style-list {
      flex-direction: column; /* Stack items vertically */
    }
    .art-style {
      width: 100%;
      max-width: 1500px;
    }
  }