.contact-page {
    background-color: rgba(183, 123, 130, 0.9);
    min-height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 100px;
    margin: auto;
    max-width: 600px;
}

.form label {
    margin-bottom: .5rem;
    font-size: 1.5rem;
    letter-spacing: 10px;
    
}

.social-icons a + a{
  margin-left: 10px;
}

.form input, textarea{
    margin-bottom: 1rem;
    padding: 10px 18px;
    text-transform: uppercase;
    color: #000;
    font-size: 1.5rem;
    letter-spacing: 10px;
    background-color: white;
    border-color: black;
    width: 100%;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h3{
  margin-bottom: 1rem;
  margin-top: 150px;
    text-transform: uppercase;
    color: #000;
    font-size: 1.5rem;
    letter-spacing: 10px;
    border-color: black;
    width: 100%;
}
/* CSS */
.btn {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.btn:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.btn:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.btn:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}